HeimdalVulnerableApplicationsReportingLogicApp.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from JDM master tenant"
        },
        "author":  {
            "name":  "Soeren Andersen - JDM"
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "HeimdalVulnerableApplicationsReporting",
            "type":  "string"
        },
        "API Key":  {
	    "defaultValue": "INSERT HEIMDAL API KEY",
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for API Key"
            }
        },
        "Customer Name":  {
	    "defaultValue": "CUSTOMER NAME - REPLACE",
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Customer Name"
            }
        },
        "Heimdal Customer ID":  {
	    "defaultValue": "CUSTOMER HEIMDAL ID - REPLACE",
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Heimdal Customer ID"
            }
        },
        "Report Recipients":  {
	    "defaultValue": "RECIPIENT OF REPORTS ie xxx@jdm.dk;xxx@jdm.dk - REPLACE",
            "type":  "string",
            "metadata":  {
                "description":  "Enter value for Report Recipients"
            }
        }
    },
    "variables":  {
        "Office365ConnectionName":  "[concat('Office365-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        },
                        "API Key":  {
                            "defaultValue":  "[parameters('API Key')]",
                            "type":  "string"
                        },
                        "Customer Name":  {
                            "defaultValue":  "[parameters('Customer Name')]",
                            "type":  "string"
                        },
                        "Heimdal Customer ID":  {
                            "defaultValue":  "[parameters('Heimdal Customer ID')]",
                            "type":  "string"
                        },
                        "Report Recipients":  {
                            "defaultValue":  "[parameters('Report Recipients')]",
                            "type":  "string"
                        }
                    },
                    "triggers":  {
                        "Recurrence":  {
                            "recurrence":  {
                                "frequency":  "Week",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "7"
                                    ],
                                    "weekDays":  [
                                        "Wednesday"
                                    ]
                                },
                                "timeZone":  "Romance Standard Time"
                            },
                            "evaluatedRecurrence":  {
                                "frequency":  "Week",
                                "interval":  1,
                                "schedule":  {
                                    "hours":  [
                                        "7"
                                    ],
                                    "weekDays":  [
                                        "Wednesday"
                                    ]
                                },
                                "timeZone":  "Romance Standard Time"
                            },
                            "type":  "Recurrence"
                        }
                    },
                    "actions":  {
                        "Check_Patch_Management_License":  {
                            "actions":  {
                                "Compose_-_Patch_Management_Details":  {
                                    "runAfter":  {
                                    },
                                    "type":  "Compose",
                                    "inputs":  "@body('HTTP_GET_-_Vulnerable_Installed_Applications')"
                                },
                                "Create_CSV_table_-_Patch_Management_Details":  {
                                    "runAfter":  {
                                        "Compose_-_Patch_Management_Details":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Table",
                                    "inputs":  {
                                        "format":  "CSV",
                                        "from":  "@outputs('Compose_-_Patch_Management_Details')"
                                    }
                                },
                                "Send_an_email_-_Patch_Management_Details":  {
                                    "runAfter":  {
                                        "Create_CSV_table_-_Patch_Management_Details":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ApiConnection",
                                    "inputs":  {
                                        "body":  {
                                            "Attachments":  [
                                                {
                                                    "ContentBytes":  "@{base64(body('Create_CSV_table_-_Patch_Management_Details'))}",
                                                    "Name":  "@{parameters('Customer Name')} - Patch Management Details.csv"
                                                }
                                            ],
                                            "Body":  "\u003cp\u003eVulnerable applications installed for @{parameters('Customer Name')}\u003cbr\u003e\n\u003cbr\u003e\nThis list is an automatic export of vulnerable applications, reported 						by Heimdal Agent.\u003cbr\u003e\n\u003cbr\u003e\nFor any questions please contact support@jdm.dk\u003c/p\u003e",
                                            "Importance":  "Normal",
                                            "Subject":  "@{parameters('Customer Name')} - Patch Management Details (Vulnerable Applications)",
                                            "To":  "@parameters('Report Recipients')"
                                        },
                                        "host":  {
                                            "connection":  {
                                                "name":  "@parameters('$connections')['office365']['connectionId']"
                                            }
                                        },
                                        "method":  "post",
                                        "path":  "/v2/Mail"
                                    }
                                }
                            },
                            "runAfter":  {
                                "HTTP_GET_-_Vulnerable_Installed_Applications":  [
                                    "Succeeded"
                                ]
                            },
                            "expression":  {
                                "and":  [
                                    {
                                        "equals":  [
                                            "@outputs('HTTP_GET_-_Vulnerable_Installed_Applications')['statusCode']",
                                            200
                                        ]
                                    }
                                ]
                            },
                            "type":  "If"
                        },
                        "HTTP_GET_-_Vulnerable_Installed_Applications":  {
                            "runAfter":  {
                            },
                            "type":  "Http",
                            "inputs":  {
                                "headers":  {
                                    "Authorization":  "Bearer @{parameters('API Key')}"
                                },
                                "method":  "GET",
                                "uri":  "https://rc-dashboard.heimdalsecurity.com/api/heimdalapi/thirdparty?customerId=@{parameters('Heimdal Customer ID')}\u0026status=vulnerable"
                            }
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "office365":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]",
                                "connectionName":  "[variables('Office365ConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                            }
                        }
                    }
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "hidden-SentinelTemplateName":  "HeimdalVulnerableApplicationsReporting",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('Office365ConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('Office365ConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('Office365ConnectionName')]",
                "customParameterValues":  {
                },
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Office365')]"
                }
            }
        }
    ]
}
